.container.week-content
	.week-content--feature
		.week-content--card
			.week-card--media
				.container--grid-links
					.camp--primary.camp-slider
						//- slider
						//- .slider-controls
						//- 	.arrow-rigth
						//- 		img(src="./assets/arrow-white-right.png")
						//- .col-xs-12.col-md-12.col-lg-12.link-primary--pic._pic--camp._pic
						//- 	._pic--text._pic--camp--text
						//- 		h3.title-primary.title-jumbo.text-white.
						//- 			Semana de Australia
						//- 		.underline-full
						//- 		p.font-montserrat.text-white.
						//- 			Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
						//- 		.row--btn.text-align-left
						//- 			a(href="#!").btn.btn-golden.btn-small.
						//- 				Ver más
						.item-slider._camp-slider
								#main-carousel.carousel.slide(data-ride="carousel")
									ol.carousel-indicators
										li.active(data-target="#main-carousel" data-slide-to="0")
										li(data-target="#main-carousel" data-slide-to="1")
										li(data-target="#main-carousel" data-slide-to="2")
									//- // /.carousel-indicators
									.carousel-inner
										.carousel-item.active
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.img-slider.camp-img1
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
										.carousel-item
											.img-slider.camp-img2
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
										.carousel-item
											.img-slider.camp-img3
											//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
											.carousel-caption
												//- text-here
												._pic--text._pic--camp--text
													h3.title-primary.title-jumbo.text-white.
														Semana de Australia
													.underline-full
													p.font-montserrat.text-white.
														Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.
													.row--btn.text-align-left
														a(href="#!").btn.btn-golden.btn-small.
															Ver más
									//- // /.carousel-inner
									a.carousel-control-prev(href="#main-carousel" data-slide="prev")
										span.carousel-control-prev-icon
										span.sr-only(aria-hidden="true") Prev
									a.carousel-control-next(href="#main-carousel" data-slide="next")
										span.carousel-control-next-icon
										span.sr-only(aria-hidden="true") Next						

					.camp--row
						.camp-secondary--pic._pic-2._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Día internacional de la mujer
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
						.camp-secondary--pic._pic-3._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Educación Australiana
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
					.camp--row
						.camp-secondary--pic._pic-2._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Fiestas patrias bicentenario
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más
						.camp-secondary--pic._pic-3._pic--camp._pic
							._pic--text._pic--camp--cardText
								h3.title-primary.text-white.
									Perumin, Australia país aliado
								p.font-montserrat.text-white.
									Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum.									
								.row--btn
									a(href="#!").btn.btn-golden.btn-small.
										Ver más