doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet" type="text/css" href="./lib/normalize/normalize.css")
		link(rel="stylesheet" type="text/css" href="./lib/splide/css/splide-core.min.css")
		link(rel="stylesheet" type="text/css" href="./lib/splide/css/splide.min.css")
		link(rel="stylesheet" type="text/css" href="./lib/simple-scrollbar/simple-scrollbar.css")
		link(rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="style.css")
		script(src='https://kit.fontawesome.com/85b4047669.js' crossorigin='anonymous')
		title.
			Australia
	body