@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@400;700&display=swap");
.text-white {
  color: #fff;
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.mb-5 {
  margin-bottom: 5%;
}
.mb-10 {
  margin-bottom: 10%;
}
.font-prompt {
  font-family: 'Prompt', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.title-primary {
  font-family: 'Prompt', sans-serif;
  color: #00392c;
  text-align: center;
  margin: 3%;
}
@media only screen and (min-width: 768px) {
  .title-primary {
    font-size: 36px;
  }
}
.title-jumbo {
  font-size: 36px !important;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .title-jumbo {
    font-size: 48px !important;
    line-height: 1;
  }
}
.title-secondary {
  font-family: 'Prompt', sans-serif;
  color: #00392c;
  text-align: left;
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
}
.subtitle {
  font-family: 'Prompt', sans-serif;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    font-size: 36px;
  }
}
.text-align-left {
  text-align: left !important;
}
.uppercase {
  text-transform: uppercase;
}
.text-white {
  color: #fff !important;
}
.text-color {
  color: #00392c;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.countdown-text {
  font-size: 35px !important;
  margin: 15px !important;
  letter-spacing: 5px;
}
.cta--buttons {
  text-align: center;
}
.row--btn {
  text-align: center;
  margin-bottom: 5%;
}
@media only screen and (min-width: 768px) {
  .row--btn {
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 24px;
  }
}
.btn:hover {
  text-decoration: none;
  color: initial;
  opacity: 0.7;
}
.btn-primary {
  background-color: #00392c;
  color: #fff;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .btn-primary {
    padding: 25px 35px;
    line-height: 0;
  }
}
.btn-secondary {
  background-color: #fff;
  color: #c4c4c4;
  border: solid #c4c4c4 2px;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  .btn-secondary {
    padding: 25px 35px;
    line-height: 0;
  }
}
.btn-golden {
  background-color: transparent;
  color: #e7c97d;
  border: solid #e7c97d 2px;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  line-height: 20px;
}
.btn-golden:hover {
  color: #e7c97d;
  opacity: 0.7;
}
@media only screen and (min-width: 768px) {
  .btn-golden {
    padding: 25px 35px;
    line-height: 0;
  }
}
.btn-small {
  font-size: 18px !important;
  padding: 10px 30px !important;
  line-height: 15px !important;
}
@media only screen and (max-width: 767px) {
  .btn-small {
    height: 30px !important;
    font-size: 14px !important;
    line-height: 7px !important;
  }
}
/**Var**/
iframe {
  width: 100%;
  height: 615px;
}
@media only screen and (max-width: 767px) {
  iframe {
    height: 150px;
  }
}
header {
  position: relative;
  background: transparent;
  top: 0;
  z-index: 99;
  color: #fff;
  width: 100%;
}
header .container-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  header .container-header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  header .container-header {
    padding: 5% 2.5% 2.5% 5%;
    width: 50%;
    line-height: 30px;
  }
}
header .container-header h1 {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  body p {
    font-size: 11px !important;
  }
  p small {
    font-size: 7px;
  }
}
.tiitle-underline::before {
  border-bottom: solid 1px #e7c97d;
  padding-bottom: 5px;
}
#slider {
  margin-top: -14%;
}
@media only screen and (max-width: 767px) {
  #slider {
    margin-top: -60%;
  }
}
.text-green h1 {
  color: #00392c !important;
}
.text-green ul li a {
  color: #00392c !important;
}
.text-green .item-active {
  border: solid #00392c;
}
.text-white ul li a {
  color: #fff !important;
}
/** Nav **/
.nav ul {
  display: block;
  list-style: none;
  margin: 0;
  line-height: 40px;
}
.nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav ul li:hover {
  opacity: 0.7;
}
.nav ul li a {
  font-size: 16px;
  color: #fff;
  padding: 5px 25px;
}
.nav ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.item-active {
  border: solid #fff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.underline {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 5%;
}
.underline::before {
  content: '';
  width: 100%;
  background-color: #e7c97d;
  height: 2px;
  position: absolute;
  bottom: -10%;
}
.underline-full {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 5%;
}
.underline-full::before {
  content: '';
  width: 100%;
  background-color: #e7c97d;
  height: 2px;
  position: absolute;
  bottom: -10%;
}
.underline-short {
  position: relative;
  width: 30%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 5%;
}
.underline-short::before {
  content: '';
  width: 100%;
  background-color: #e7c97d;
  height: 2px;
  position: absolute;
  bottom: -10%;
}
/**Slider**/
.slider-text--title h2 {
  font-size: 30px;
}
@media only screen and (min-width: 768px) {
  .slider-text--title h2 {
    font-size: 48px;
  }
}
.slider-text--content {
  text-align: left;
}
.img1 {
  background-image: url("./assets/bg-australia.jpg");
}
.img2 {
  background-image: url("./assets/bg-australia.jpg");
}
.img3 {
  background-image: url("./assets/bg-australia.jpg");
}
.img-slider {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 780px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .img-slider {
    height: 450px;
    background-position: 80% 50%;
  }
}
.item-slider {
  width: 100%;
  height: 780px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .item-slider {
    height: 450px;
    background-position: 80% 50%;
  }
}
.item-slider .carousel-indicators li.active::before {
  content: '';
  width: 14px;
  height: 14px;
  background: #00392c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 15%;
}
@media only screen and (max-width: 767px) {
  .item-slider .carousel-indicators li.active::before {
    width: 10px;
    height: 10px;
    margin-top: 16%;
  }
}
.item-slider .carousel-indicators {
  z-index: 1 !important;
}
.item-slider .carousel-indicators li {
  background-color: #fff;
  opacity: 1;
}
.item-slider .carousel-indicators li {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .item-slider .carousel-indicators li {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 15px;
  }
}
.item-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  left: auto;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 32px;
  right: 2.5%;
  top: 36%;
  height: 270px;
}
@media only screen and (max-width: 768px) {
  .item-slider .carousel-indicators {
    right: 1%;
  }
}
.item-slider .carousel-control-next,
.item-slider .carousel-control-prev {
  position: absolute;
  top: auto;
  width: auto;
  bottom: 10%;
  right: 2% !important;
  z-index: 1;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .item-slider .carousel-control-next,
  .item-slider .carousel-control-prev {
    right: 3% !important;
    z-index: 99;
  }
}
.item-slider .carousel-control-next-icon {
  background-image: unset;
  width: 45px;
  height: 45px;
}
@media only screen and (max-width: 768px) {
  .item-slider .carousel-control-next-icon {
    width: 25px;
    height: 25px;
  }
}
.item-slider .carousel-control-prev {
  display: none;
}
@media only screen and (max-width: 768px) {
  .item-slider .carousel-caption {
    left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .item-slider .slider--content {
    text-align: left;
  }
}
.item-slider span.carousel-control-next-icon {
  position: relative;
}
.item-slider span.carousel-control-next-icon::before {
  content: '';
  background-image: url("./assets/arrow-slider.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  .item-slider span.carousel-control-next-icon::before {
    width: 30px;
    height: 30px;
  }
}
ol.carousel-indicators::before {
  content: '';
  width: 2px;
  background: #fff;
  height: 165%;
  position: absolute;
  left: 48%;
  bottom: -90%;
  z-index: -9;
}
@media only screen and (max-width: 767px) {
  ol.carousel-indicators::before {
    left: 42%;
    width: 1px;
    height: 160%;
  }
}
.carousel-item .img-fluid {
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .carousel-item .img-fluid {
    height: 780px !important;
  }
}
.slider-text--topTitle {
  position: relative;
  z-index: 99;
}
.slider-text--topTitle p small {
  font-size: 11px !important;
}
@media only screen and (min-width: 768px) {
  .slider-text--topTitle p small {
    font-size: 18px !important;
  }
}
.slider-text--content {
  position: relative;
  z-index: 99;
  font-size: 11px;
}
@media only screen and (min-width: 768px) {
  .slider-text--content {
    font-size: 18px;
  }
}
.slider-text--title {
  position: relative;
  z-index: 99;
}
.slider-text--title h2 {
  margin: 0;
  position: relative;
}
.slider-text--title ._underline--title::before {
  content: '';
  width: 90%;
  background-color: #e7c97d;
  height: 2px;
  position: absolute;
  bottom: -10%;
}
.text--slider {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .text--slider {
    padding: 5%;
  }
}
.slider--container {
  max-width: 1100px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .slider--container {
    margin-bottom: 15%;
  }
  .slider--container .slider--content {
    width: 40%;
    position: relative;
  }
  .slider--container .slider--content:before {
    content: '';
    width: 385px;
    height: 385px;
    background: #216644;
    position: absolute;
    top: -30%;
    left: -25%;
  }
}
/**Video**/
.video-container {
  padding: 5% 2.5%;
}
@media only screen and (max-width: 767px) {
  .video-container {
    padding: 10% 7%;
  }
}
.week-header {
  background-image: url("./assets/bg-week.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 550px;
}
@media only screen and (max-width: 767px) {
  .week-header {
    height: 180px;
  }
}
/*Week & Nav*/
@media only screen and (max-width: 767px) {
  .nav--mobile,
  .week--mobile {
    display: block;
  }
  .nav--mobile {
    position: absolute;
    right: 10%;
  }
  .nav,
  .week--desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav--mobile,
  .week--mobile {
    display: none;
  }
  .nav {
    display: block;
  }
  .week--desktop {
    display: block;
    padding: 0% 2.5%;
  }
}
.week-top {
  margin-top: -8%;
}
.week-content--feature {
  background: #fff;
  margin: 0 auto;
  width: 90%;
}
@media only screen and (max-width: 767px) {
  .week-content--feature {
    margin-top: 0%;
  }
}
@media only screen and (min-width: 768px) {
  .countdown-text {
    font-size: 90px !important;
  }
}
.week-header--text h3 {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .week-header--text h3 {
    font-size: 48px;
  }
}
.week-header--text h5 {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .week-header--text h5 {
    font-size: 24px;
  }
}
.week-card--text {
  padding: 3% 10%;
}
.week-card--text p {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .week-card--text p small {
    font-size: 18px !important;
  }
}
@media only screen and (min-width: 768px) {
  .week-card--media iframe {
    padding: 2% 10%;
  }
}
.week--title {
  font-size: 20px;
}
.week--subtitle {
  padding: 5% 0 2% 0 !important;
  font-size: 12px;
  text-decoration: underline;
}
.week--text {
  color: #216644;
}
@media only screen and (min-width: 768px) {
  .week--text {
    font-size: 24px;
  }
}
.img-mobile {
  width: 100%;
}
.media-desktop {
  width: 100%;
}
.view-more {
  color: #00392c;
}
@media only screen and (max-width: 767px) {
  .view-more {
    font-size: 10px;
  }
}
.view-more:hover {
  color: #00392c;
}
/**News**/
.container-news {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.93%, #00392c), color-stop(95.79%, #002316));
  background: -webkit-linear-gradient(top, #00392c 31.93%, #002316 95.79%);
  background: -moz-linear-gradient(top, #00392c 31.93%, #002316 95.79%);
  background: -o-linear-gradient(top, #00392c 31.93%, #002316 95.79%);
  background: linear-gradient(180deg, #00392c 31.93%, #002316 95.79%);
  padding: 2% 0%;
}
.news-text h4 {
  text-align: center;
}
.news-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10% 5%;
}
@media only screen and (min-width: 768px) {
  .news-post {
    max-width: 1100px;
    padding: 5% 0;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .post--news {
    max-width: 265px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .post--news.post--active {
    max-width: 325px;
    width: 100%;
  }
}
.img-news {
  width: 100%;
}
/*Widgets**/
@media only screen and (min-width: 768px) {
  .container-widgets {
    border-top: solid #00392c;
  }
}
.container-widgets p {
  color: #00392c;
}
.container-widgets ul {
  color: #00392c;
  padding: 0;
}
.container-widgets ul li {
  list-style: none;
}
.container-widgets ul li a {
  color: #00392c;
}
@media only screen and (max-width: 767px) {
  .container-widgets ul li a {
    font-size: 11px;
  }
}
.footer--widget,
.footer--brand,
.footer--data {
  border-top: solid #00392c;
}
.footer-brand {
  text-align: center;
}
.brand--img {
  text-align: center;
  margin: 10% 0;
}
/*Newsletter**/
.container-newletter {
  padding: 10%;
}
@media only screen and (min-width: 768px) {
  .container-newletter {
    padding: 2.5% 10% 10% 10%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.parragraph--newsletter {
  color: #00392c;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .parragraph--newsletter {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) {
  .newsletter-form {
    width: 60%;
    margin: 0 auto;
  }
}
.form-australia {
  position: relative;
}
.input-text {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100%;
  height: 35px;
  border: solid #e7c97d;
}
@media only screen and (min-width: 768px) {
  .input-text {
    height: 64px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    padding: 5px 25px;
  }
}
.submit {
  position: absolute;
  right: 0;
  padding: 5px 8px;
  background: #00392c;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: none;
  width: 55px;
  height: 35px;
  line-height: 15px;
}
@media only screen and (min-width: 768px) {
  .submit {
    height: 64px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    width: 110px;
  }
  .submit svg {
    width: 32px;
    height: 26px;
  }
}
/**footer**/
/**Social Bar**/
.footer-address p i {
  margin-right: 10px;
}
.container-socialBar {
  background-color: #00392c;
  height: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.social-items {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .social-items {
    width: 60%;
  }
}
.social-items i {
  font-size: 35px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .container-widgets {
    border-top: solid #00392c;
  }
}
@media only screen and (min-width: 768px) {
  .container-widgets .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-widgets .row .footer--brand {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-right: solid #00392c;
    border-top: none;
    padding: 2% 0;
  }
  .container-widgets .row .footer--data {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border-right: solid #00392c;
    border-top: none;
    padding: 2% 0;
  }
  .container-widgets .row .footer--widget {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    border-top: none;
    padding: 2% 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer--widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .container-widgets p,
  .container-widgets a {
    font-size: 12px;
  }
}
.container-widgets .col-lg-6,
.container-widgets .col-md-6 {
  padding: 2% !important;
}
.container-widgets .col-lg-3,
.container-widgets .col-md-3 {
  padding: 2% !important;
}
/**Descriptio***/
.container-about-us {
  margin-top: 5%;
}
.conntainer-infographic {
  margin: 5%;
  text-align: center;
}
.conntainer-infographic img {
  width: 100%;
}
.description-img img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .description-col {
    padding: 0 5% 0 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .description--parragraph {
    font-size: 18px;
  }
}
/**Our links**/
.link-primary--pic {
  background-image: url("./assets/semana-australia.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .link-primary--pic {
    height: 530px;
  }
}
@media only screen and (min-width: 768px) {
  .link-secondary--pic {
    height: 350px;
  }
}
._pic--link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
._pic-2 {
  background-image: url("./assets/camp1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
._pic-3 {
  background-image: url("./assets/camp2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/** It Was **/
.container-itwas {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.93%, #216644), color-stop(95.79%, #00392c));
  background: -webkit-linear-gradient(top, #216644 31.93%, #00392c 95.79%);
  background: -moz-linear-gradient(top, #216644 31.93%, #00392c 95.79%);
  background: -o-linear-gradient(top, #216644 31.93%, #00392c 95.79%);
  background: linear-gradient(180deg, #216644 31.93%, #00392c 95.79%);
  position: relative;
}
@media only screen and (max-width: 767px) {
  .container-itwas {
    height: 850px;
  }
}
@media only screen and (min-width: 768px) {
  .container-itwas {
    height: 1100px;
  }
}
.itwas-timeline {
  position: absolute;
  background-color: #fff;
  height: auto;
  width: 70%;
  left: 15%;
  top: 5%;
}
@media only screen and (max-width: 767px) {
  .itwas-timeline {
    width: 100%;
    left: 0%;
    top: 0%;
    height: 785px;
    overflow-x: hidden;
    margin-top: 25px;
  }
}
.itwas--content-card {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
}
@media only screen and (min-width: 768px) {
  .itwas--content-card {
    height: 1000px;
  }
}
.itwas-agreement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.itwas--icon {
  text-align: center;
  position: relative;
}
.itwas--icon::before {
  content: '';
  background-color: #e7c97d;
  width: 268%;
  position: absolute;
  top: 50%;
  height: 2px;
  left: -268%;
}
.itwas--icon::after {
  content: '';
  background-color: #e7c97d;
  width: 268%;
  position: absolute;
  top: 50%;
  height: 2px;
  right: -268%;
}
.itwas--icon img {
  width: 60%;
}
.itwas--country {
  width: 190px;
  height: 52px;
  border: solid #00392c;
  text-align: center;
}
.itwas--country p {
  font-size: 24px;
  font-weight: bold;
  color: #002316;
  margin: 0;
  line-height: 48px;
}
.itwas--row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.itwas--row ._itwas-col {
  width: 50%;
}
.itwas--row ._itwas-col img {
  width: 100%;
}
._itwas-text {
  padding: 2.5% 5%;
}
.itwas--top {
  margin-top: 5%;
  position: relative;
  z-index: 99;
}
.itwas--top img {
  width: 100%;
}
.itwas--bottom {
  bottom: 0;
  position: absolute;
  z-index: 99;
}
.itwas--bottom img {
  width: 100%;
}
.itwas--timeline {
  margin-top: -10%;
}
.itwas--row-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
._row-botom {
  margin-bottom: -10%;
}
.arrow-down {
  position: absolute;
  right: 1%;
  top: 75%;
}
._pic--camp {
  margin: 5px;
}
.camp--primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.camp--row {
  margin: 1% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .camp--row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 110%;
    margin-left: -5%;
  }
}
.camp--row .camp-secondary--pic {
  width: 49.5%;
}
@media only screen and (max-width: 767px) {
  .camp--row .camp-secondary--pic {
    width: 100%;
  }
}
._pic--camp h3 {
  margin: 0;
  text-align: left !important;
}
.link-primary--pic._pic--camp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._pic--camp--text {
  padding: 5%;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  ._pic--camp--text {
    width: 90%;
  }
}
._pic--camp--cardText {
  padding: 5%;
  width: 100%;
}
._pic--camp--cardText h3 {
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .camp--primary.camp-slider {
    width: 130% !important;
    left: -15% !important;
    height: 350px;
  }
}
.camp-secondary--pic ._pic--text {
  opacity: 0;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media only screen and (max-width: 767px) {
  .camp-secondary--pic ._pic--text {
    opacity: 1 !important;
  }
}
.camp-secondary--pic:hover ._pic--text {
  opacity: 1;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  transition: ease 0.5s;
}
.camp-secondary--pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .camp-secondary--pic {
    height: 450px;
  }
}
.camp-img1 {
  background-image: url("./assets/semana-australia.jpg");
}
.camp-img2 {
  background-image: url("./assets/semana-australia.jpg");
}
.camp-img3 {
  background-image: url("./assets/semana-australia.jpg");
}
.camp-slider {
  position: relative;
}
._camp-slider {
  height: 530px !important;
}
@media only screen and (max-width: 767px) {
  ._camp-slider {
    height: 340px !important;
  }
}
._camp-slider .img-slider {
  height: 530px !important;
}
@media only screen and (max-width: 767px) {
  ._camp-slider .img-slider {
    height: 340px !important;
  }
}
._camp-slider .carousel-caption {
  left: 5%;
  text-align: left;
}
._camp-slider .title-primary {
  text-align: left;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  ._camp-slider .carousel-indicators {
    top: 10% !important;
  }
}
._camp-slider .carousel-indicators::before {
  content: none;
}
._camp-slider span.carousel-control-next-icon::before {
  background-image: url("./assets/arrow-white-right.png") !important;
}
@media only screen and (max-width: 767px) {
  ._camp-slider .carousel-control-next {
    right: 5% !important;
  }
}
.slider-controls {
  position: absolute;
  bottom: 5%;
  right: 1%;
  z-index: 99;
}
.slider-controls .arrow-rigth img {
  width: 60%;
}
@media only screen and (min-width: 768px) {
  .week-content .week-content--feature.week-top {
    margin-top: -8%;
  }
}
/**Nav Menu**/
#navIcon {
  position: absolute;
  right: 5%;
  top: 15%;
  width: 10%;
  z-index: 999 !important;
}
@media only screen and (max-width: 767px) {
  #navIcon {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  #navIcon {
    display: none;
  }
}
#navMenu {
  width: 100%;
  position: fixed;
  height: 120vh;
  top: 0;
  left: 0;
  background: rgba(59,59,59,0.988);
}
.nav-active {
  margin-left: 0;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  transition: ease 0.5s;
  z-index: 9999 !important;
}
.nav-hide {
  margin-left: -100%;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  transition: ease 0.5s;
}
.nav--mobile {
  position: relative;
}
.nav--mobile h2 {
  padding: 15% 0 0% 20%;
}
.nav--mobile ul {
  list-style: none;
  padding: 5% 0 20% 20%;
}
.nav--mobile ul li a {
  color: #fff;
}
.nav--mobile ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.nav--mobile ul li a::visited {
  color: #fff;
}
#closeNav {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5em;
}
