include ./templates/head/head.pug
	include ./templates/header/header-green.pug
	//- Start Content
	#main
		.container-about-us
			include ./templates/about-us/description.pug
			include ./templates/about-us/infographic.pug
			include ./templates/about-us/it-was.pug
			include ./templates/about-us/our-links.pug
	//- End Content
	include ./templates/footer/footer.pug