include ./templates/head/head.pug
	include ./templates/header/header-green.pug
	//- Start Content
	#main
		.container-about-us
			include ./templates/camp/camp.pug
	//- End Content
	include ./templates/footer/footer.pug