include ./templates/head/head.pug
	include ./templates/header/header.pug
	//- Start Content
	#main
		.container-about-us
			include ./templates/home/slider.pug
			include ./templates/home/video.pug
			include ./templates/home/week.pug
			include ./templates/home/news.pug
	//- End Content
	include ./templates/footer/footer.pug