#description
	.container
		.row
			.col-lg-6.col-md-6.col-xs-12.description-col
				h2.title-primary.title-jumbo.text-align-left.bold._underline--title.m0.
					Acerca de esta embajada
				.underline-full
				p.font-montserrat.text-color.mb-10.description--parragraph.
					Et tristique sem tellus gravida turpis. Habitant netus cras imperdiet sed. Leo proin eget rutrum orci pharetra. Augue blandit nascetur purus a, elementum. Nunc, molestie tempus ac nisl. Fermentum ut mauris ut molestie pulvinar sapien scelerisque id.
					Tortor vel sed morbi tristique. Viverra vulputate mi mi congue ultricies orci augue vitae felis. Turpis tellus vestibulum ut risus tellus. Senectus sed nisl massa quis suspendisse vitae.
			.col-lg-6.col-md-6.col-xs-12.description-img
				img(src="./assets/img-about-us.png")