#itwas
	.container-itwas
		.itwas-timeline
			.week-content--feature
					.week-content--card.itwas--content-card
						.arrow-down
							img(src="./assets/arrow-down.png")
						.week-card--text
							p.font-prompt.text-color.bold.center
								small.
									ASI FUE
							.underline
							h3.title-primary.title-jumbo.uppercase.
								NUESTRA RELACIÓN A TRAVÉS DE LOS AÑOS
						.itwas-agreement
							.itwas--country
								p.font-promt.
									Australia
							.itwas--icon
								img(src="./assets/handshake.png")
							.itwas--country
								p.font-promt.
									Perú
						.itwas--top
							img(src="./assets/itwas-top.png")
						.itwas--timeline
							.itwas--row-center._row-top
								img(src="./assets/itwas-image-1.jpg")
							.itwas--row
								._itwas-col
									img(src="./assets/itwas-image-2.jpg")
								._itwas-col._itwas-text
									h3._itwas--date.title-primary.text-align-left.m0.
										23.JUL.1995
									h3._itwas--title.title-primary.text-align-left.m0.
										Titulo de item
									p.
										Augue blandit nascetur purus a, elementum. Nunc, molestie tempus ac nisl. Fermentum ut mauris ut pulvinar sapien scelerisque id dolor sit amet vox.
							.itwas--row-center._row-botom
								img(src="./assets/itwas-image-3.jpg")
					.itwas--bottom
						img(src="./assets/itwas-bottom.png")

