.container.week-content
	.week-content--feature
		.week-content--card
			.week-card--text
				p.font-prompt.text-color.bold.center
					small.
						ASI ES CÓMO
				.underline
				h3.title-primary.title-jumbo.uppercase.
					SEGUIMOS ESTRECHANDO NUESTROS LAZOS
			.week-card--media
				.container--grid-links.row.m0.p0
					.col-xs-12.col-md-12.col-lg-12.link-primary--pic._pic--link.m0.p0
						._pic--text
							h3.title-primary.title-jumbo.text-white.
								Semana de Australia
							.row--btn
								a(href="#!").btn.btn-golden.btn-small.
									Ver más
					.col-xs-6.col-lg-6.col-md-6.link-secondary--pic._pic-2._pic--link.m0.p0
						._pic--text
							h3.title-primary.text-white.
								Título de segunda campaña
							.row--btn
								a(href="#!").btn.btn-golden.btn-small.
									Ver más
					.col-xs-6.col-lg-6.col-md-6.link-secondary--pic._pic-3._pic--link.m0.p0
						._pic--text
							h3.title-primary.text-white.
								Título de segunda campaña
							.row--btn
								a(href="#!").btn.btn-golden.btn-small.
									Ver más