@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt:wght@400;700&display=swap')
@import './modules/_colors.styl'
@import './modules/_spaces.styl'
@import './modules/_typography.styl'
@import './modules/_buttons.styl'

/**Var**/

$max-width--desktop = 1100px

iframe
	width 100%
	height 615px
	@media only screen and (max-width 767px)
		height 150px
	
header
	position relative
	background transparent
	top 0
	z-index 99
	color #fff
	width 100%
	.container-header
		display flex
		justify-content space-between
		@media only screen and (min-width 768px)
			max-width $max-width--desktop
			margin 0 auto
			padding 30px 0
		@media only screen and (max-width 767px)
			padding 5% 2.5% 2.5% 5%
			width 50%
			line-height 30px
			// padding 15px 0
		h1
			margin 0
	
@media only screen and (max-width 767px)
	body p
		font-size 11px !important
	p small
		font-size 7px

.tiitle-underline::before
	border-bottom solid 1px $golden-light
	padding-bottom 5px

#slider
	margin-top -14%
	@media only screen and (max-width 767px)
		margin-top -60%
	

.text-green 
	h1
		color $primaryColor !important
	ul
		li
			a
				color $primaryColor !important
	.item-active
		border solid $primaryColor

.text-white
	ul
		li
			a
				color #fff !important
	// .item-active
	// 	border solid $primaryColor		

/** Nav **/

.nav
	ul
		display block
		list-style none
		margin 0
		line-height 40px
		li
			display inline-block
			margin 0 10px
			&:hover
				opacity 0.7			
			a
				font-size 16px
				color $white
				padding 5px 25px
				&:hover
					text-decoration none
					opacity 0.7

.item-active
	border solid $white
	border-radius 35px

.underline
	position relative
	width 50%
	margin 0 auto
	margin-top 3%
	margin-bottom 5%
	&::before
		content ''
		width 100%
		background-color $golden-light
		height 2px
		position absolute
		bottom -10%	

.underline-full
	position relative
	width 100%
	margin 0 auto
	margin-top 3%
	margin-bottom 5%
	&::before
		content ''
		width 100%
		background-color $golden-light
		height 2px
		position absolute
		bottom -10%	

.underline-short
	position relative
	width 30%
	margin 0 auto
	margin-top 3%
	margin-bottom 5%
	&::before
		content ''
		width 100%
		background-color $golden-light
		height 2px
		position absolute
		bottom -10%			



/**Slider**/

.slider-text--title
	h2
		font-size 30px
		@media only screen and (min-width 768px)
			font-size 48px
		
.slider-text--content
	text-align left
		
.img1
	background-image url('./assets/bg-australia.jpg')

.img2
	background-image url('./assets/bg-australia.jpg')
	
.img3
	background-image url('./assets/bg-australia.jpg')		
	
.img-slider
	background-repeat no-repeat
	background-size cover
	width 100%
	height 780px
	position relative
	@media only screen and (max-width 767px)
		height 450px
		background-position 80% 50%	

.item-slider
	// background-image url('./assets/bg-australia.jpg')
	// background-repeat no-repeat
	// background-size cover
	width 100%
	height 780px
	position relative
	@media only screen and (max-width 767px)
		height 450px
		background-position 80% 50%

.item-slider .carousel-indicators li.active::before
	content ''
	width 14px
	height 14px
	background $primaryColor
	border-radius 50%
	margin-top 15%
	@media only screen and (max-width 767px)
		width 10px
		height 10px
		margin-top 16%
		

.item-slider .carousel-indicators 
	z-index 1 !important
	li
		background-color #fff
		opacity 1

.item-slider
	.carousel-indicators li
		width 20px
		height 20px
		border-radius 50%
		margin-right 25px
		margin-bottom 20px
		display flex
		margin-left 20%
		justify-content space-around
		@media only screen and (max-width 768px)
			width 15px
			height 15px
			border-radius 50%
			margin-right 10px
			margin-bottom 15px		
	.carousel-indicators
		position absolute
		bottom 0
		left auto
		z-index 15
		display flex
		padding-left 0
		margin-right 0
		margin-left 0
		list-style none
		// border solid
		flex-direction column
		width 32px
		right 2.5%
		top 36%
		height 270px
		@media only screen and (max-width 768px)
			right 1%
	.carousel-control-next, .carousel-control-prev
		position absolute
		top auto
		width auto
		bottom 10%
		right 2% !important
		z-index 1
		opacity 1
		@media only screen and (max-width 768px)
			right 3% !important
			z-index 99
	.carousel-control-next-icon
		background-image unset
		width 45px
		height 45px
		@media only screen and (max-width 768px)
			width 25px
			height 25px
	.carousel-control-prev
		display none
	.carousel-caption
		@media only screen and (max-width 768px)
			left 10px
	.slider--content
		@media only screen and (max-width 768px)
			text-align left	
	span.carousel-control-next-icon
		position relative
	span.carousel-control-next-icon::before
		content ''
		background-image url('./assets/arrow-slider.png')
		background-repeat no-repeat
		-webkit-background-size cover
		-moz-background-size cover
		-o-background-size cover
		background-size cover
		width 45px
		height 45px
		position absolute
		top 0
		left 0
		z-index 999
		@media only screen and (max-width 768px)
			width 30px 
			height 30px		
	

ol.carousel-indicators::before
	content ''
	width 2px
	background #fff
	height 165%
	position absolute
	left 48%
	bottom -90%
	z-index -9
	@media only screen and (max-width 767px)
		left 42%
		width 1px
		height 160%

		

.carousel-item .img-fluid
	width 100% !important
	@media only screen and (min-width 768px)
		height 780px !important


.slider
	&-text
		&--topTitle
			position relative
			z-index 99
			p small
				font-size 11px !important
				@media only screen and (min-width 768px)
					font-size 18px !important				
		&--content
			position relative
			z-index 99
			font-size 11px
			@media only screen and (min-width 768px)
				font-size 18px
		&--title
			position relative
			z-index 99
			h2
				margin 0
				position relative
			._underline--title::before
				content ''
				width 90%
				background-color $golden-light
				height 2px
				position absolute
				bottom -10%
	

.text--slider
	position absolute
	bottom 0
	width 100%
	@media only screen and (max-width 767px)
		padding 5%
	

.slider--container
	max-width $max-width--desktop
	margin 0 auto
	@media only screen and (min-width 768px)
		margin-bottom 15%
		.slider--content
			width 40%
			position relative
			&:before
				content ''
				width 385px
				height 385px
				background $green-light
				position absolute
				top -30%
				left -25%
			
/**Video**/

.video-container
	padding 5% 2.5%
	@media only screen and (max-width 767px)
		padding 10% 7%

.week-header
	background-image url('./assets/bg-week.jpg')
	background-size cover
	background-position center center 
	text-align center
	height 550px
	@media only screen and (max-width 767px)
		height 180px

/*Week & Nav*/
@media only screen and (max-width 767px)
	.nav--mobile,
	.week--mobile
		display block
	.nav--mobile
		position absolute
		right 10%
	.nav,
	.week--desktop
		display none
		
@media only screen and (min-width 768px)
	.nav--mobile,
	.week--mobile
		display none
	.nav
		display block
	.week--desktop
		display block
		padding 0% 2.5%
	
.week-top
	margin-top -8%


.week-content--feature
	background $white
	// border solid red
	margin 0 auto
	width 90%
	// @media only screen and (min-width 768px)
		// margin-top -15%
	@media only screen and (max-width 767px)
		margin-top -0%

.countdown-text
	@media only screen and (min-width 768px)
		font-size 90px !important

.week-header--text
	h3
		margin 0
		@media only screen and (min-width 768px)
			font-size 48px		
	h5
		margin 0
		@media only screen and (min-width 768px)
			font-size 24px

.week-card
	&--text
		padding 3% 10%
		p
			margin 0
			small
				@media only screen and (min-width 768px)
					font-size 18px !important
	&--media
		iframe
			@media only screen and (min-width 768px)
				padding 2% 10%

.week--title
	font-size 20px

.week--subtitle
	padding 5% 0 2% 0 !important
	font-size 12px
	text-decoration underline

.week--text
	color $green-light
	@media only screen and (min-width 768px)
		font-size 24px

.img-mobile
	width 100%

.media-desktop
	width 100%	

.view-more
	color $primaryColor
	@media only screen and (max-width 767px)
		font-size 10px
	&:hover
		color $primaryColor

/**News**/

.container-news
	background linear-gradient(180deg, #00392C 31.93%, #002316 95.79%)
	padding 2% 0%

.news-text h4
	text-align center

.news-post
	display flex
	align-items center
	padding 10% 5%
	@media only screen and (min-width 768px)
		max-width $max-width--desktop
		padding 5% 0
		margin 0 auto

.post--news
	@media only screen and (min-width 768px)
		max-width 265px
		width 100%

.post--news.post--active
	@media only screen and (min-width 768px)
		max-width 325px
		width 100%	

.img-news
	width 100%
	

/*Widgets**/

.container-widgets
	@media only screen and (min-width 768px)
		border-top solid $primaryColor
	p
		color $primaryColor
	ul
		color $primaryColor
		padding 0
		li
			list-style none
			a
				color $primaryColor
				@media only screen and (max-width 767px)
					font-size 11px

.footer
	&--widget,
	&--brand,
	&--data
		border-top solid $primaryColor

.footer-brand
	text-align center
	
.brand--img
	text-align center
	margin 10% 0

// .footer--data
// 	border-top solid $primaryColor


/*Newsletter**/

.container-newletter
	padding 10%
	@media only screen and (min-width 768px)
		padding 2.5% 10% 10% 10%
		max-width 1200px
		margin 0 auto

.parragraph--newsletter
	color $primaryColor
	text-align center
	@media only screen and (min-width 768px)
		font-size 18px

.newsletter-form
	@media only screen and (min-width 768px)
		width 60%
		margin 0 auto

.form-australia
	position relative

.input-text
	border-radius 20px
	padding 5px 15px
	width 100%
	height 35px
	border solid $golden-light
	@media only screen and (min-width 768px)
		height 64px
		border-radius 35px
		padding 5px 25px

.submit
	position absolute
	right 0
	padding 5px 8px
	background $primaryColor
	color $white
	border-radius 20px
	border none
	width 55px
	height 35px
	line-height 15px
	@media only screen and (min-width 768px)
		height 64px
		border-radius 35px	
		width 110px
		svg
			width 32px
			height 26px

/**footer**/

// .widget--menu
// 	@media only screen and (max-width 767px)

// .data--menu
	// @media only screen and (max-width 767px)
		// height 150px
		// min-height 100%
		// display flex
		// align-items center
			
/**Social Bar**/

.footer-address
	p
		i
			margin-right 10px

.container-socialBar
	background-color $primaryColor
	height 85px
	display flex
	
.social-items
	width 30%
	display flex
	justify-content space-around
	margin 0 auto
	align-items center
	@media only screen and (max-width 767px)
		width 60%

.social-items i
	font-size 35px
	color $white

.container-widgets
	@media only screen and (min-width 768px)
		border-top solid $primaryColor
	.row
		@media only screen and (min-width 768px)
			display flex
			.footer--brand
				order 1
				border-right solid $primaryColor
				border-top none
				padding 2% 0
			.footer--data
				order 2
				border-right solid $primaryColor
				border-top none
				padding 2% 0
			.footer--widget
				order 3
				border-top none
				padding 2% 0

.footer--widget
	@media only screen and (min-width 768px)
		display flex

.container-widgets p,
.container-widgets a
	@media only screen and (min-width 768px)
		font-size 12px


.container-widgets .col-lg-6,
.container-widgets .col-md-6
	padding 2% !important

.container-widgets .col-lg-3,
.container-widgets .col-md-3
	padding 2% !important	

/**Descriptio***/

.container-about-us
	margin-top 5%

.conntainer-infographic
	margin 5%
	text-align center
	img
		width 100%

.description-img
	img
		width 100%



.description-col
	@media only screen and (min-width 768px)
		padding 0 5% 0 0 !important
		
.description--parragraph
	@media only screen and (min-width 768px)	
		font-size 18px
		

/**Our links**/

.link-primary--pic
	background-image url('./assets/semana-australia.jpg')
	background-repeat no-repeat
	background-size cover
	@media only screen and (min-width 768px)	
		height 530px

.link-secondary--pic
	@media only screen and (min-width 768px)	
		height 350px

._pic--link
	display flex
	align-items center
	justify-content center
	
._pic-2
	background-image url('./assets/camp1.jpg')
	background-repeat no-repeat
	background-size cover
._pic-3
	background-image url('./assets/camp2.jpg')
	background-repeat no-repeat	
	background-size cover


/** It Was **/


.container-itwas
	background linear-gradient(180deg, #216644 31.93%, #00392C 95.79%)
	position relative
	@media only screen and (max-width 767px)
		height 850px
	@media only screen and (min-width 768px)
		height 1100px
	
.itwas-timeline
	position absolute
	// padding 5% 10%
	background-color #fff
	height auto
	width 70%
	left 15%
	top 5%
	@media only screen and (max-width 767px)
		width 100%
		left 0%
		top 0%
		height 785px
		overflow-x hidden
		margin-top 25px

.itwas--content-card
	overflow-x hidden
	overflow-y scroll
	height 800px
	@media only screen and (min-width 768px)
		height 1000px

.itwas-agreement
	display flex
	justify-content space-between

.itwas--icon
	text-align center
	position relative
	&::before
		content ''
		background-color $golden-light
		width 268%
		position absolute
		top 50%
		height 2px
		left -268%
	&::after
		content ''
		background-color $golden-light
		width 268%
		position absolute
		top 50%
		height 2px
		right -268%		
	img
		width 60%

.itwas--country
	width 190px
	height 52px
	border solid $primaryColor
	text-align center
	p
		font-size 24px
		font-weight bold
		color $green-dark
		margin 0
		line-height 48px

.itwas--row
	display flex
	margin 5% 0
	justify-content space-between
	._itwas-col
		width 50%
		img
			width 100%


._itwas-text
	padding 2.5% 5%

.itwas--top
	margin-top 5%
	position relative
	z-index 99
	img
		width 100%

.itwas--bottom
	bottom 0
	position: absolute;
	z-index: 99;	
	img
		width 100%		

.itwas--timeline
	margin-top -10%

.itwas--row-center
	display flex
	justify-content center

._row-botom
	margin-bottom -10%

.arrow-down 
	position absolute
	right 1%
	top 75%

._pic--camp
	margin 5px	

.camp--primary
	display flex

.camp--row
	margin 1% 0
	display flex
	justify-content space-between
	@media only screen and (max-width 767px)	
		flex-wrap wrap
		width 110%
		margin-left -5%
	.camp-secondary--pic
		width 49.5%
		@media only screen and (max-width 767px)
			width 100%
		

._pic--camp
	h3
		margin 0
		text-align left !important

.link-primary--pic._pic--camp
	display flex
	align-items center

._pic--camp--text
	padding 5%
	width 50%
	@media only screen and (max-width 767px)
		width 90%

._pic--camp--cardText
	padding 5%
	width 100%
	h3
		width 80%

.camp--primary.camp-slider
	@media only screen and (max-width 767px)
		width 130% !important
		left -15% !important
		height 350px

.camp-secondary--pic
	._pic--text
		opacity 0
		transition ease 0.5s
		@media only screen and (max-width 767px)
			opacity 1 !important
	&:hover
		._pic--text
			opacity 1
			transition ease 0.5s

.camp-secondary--pic
	display flex
	align-items center
	@media only screen and (min-width 768px)	
		height 450px

.camp-img1
	background-image url('./assets/semana-australia.jpg')
.camp-img2
	background-image url('./assets/semana-australia.jpg')	
.camp-img3
	background-image url('./assets/semana-australia.jpg')	

.camp-slider
	position relative

._camp-slider
	height 530px !important
	@media only screen and (max-width 767px)
		height 340px !important
	.img-slider
		height 530px !important
		@media only screen and (max-width 767px)
			height 340px !important
	.carousel-caption
		left 5%
		text-align left
	.title-primary
		text-align left
		padding 0
		margin 0
	.carousel-indicators
		@media only screen and (max-width 767px)
			top 10% !important
	.carousel-indicators::before
		content none
	span.carousel-control-next-icon::before
		background-image url('./assets/arrow-white-right.png') !important
	.carousel-control-next
		@media only screen and (max-width 767px)
			right 5% !important


.slider-controls
	position absolute
	bottom 5%
	right 1%
	z-index 99
	.arrow-rigth
		img
			width 60%
.week-content
	.week-content--feature.week-top
		@media only screen and (min-width 768px)
			margin-top -8%
	

/**Nav Menu**/

#navIcon
	position absolute
	right 5%
	top 15%
	width 10%
	z-index 999 !important
	@media only screen and (max-width 767px)
		display block
	@media only screen and (min-width 768px)
		display none

#navMenu
	width 100%
	position fixed
	height 120vh
	top 0
	left 0
	background #3b3b3bfc

.nav-active
	margin-left 0	
	transition ease 0.5s
	z-index 9999 !important

.nav-hide
	margin-left -100%	
	transition ease 0.5s	

.nav--mobile
	position relative
	h2
		padding 15% 0 0% 20%
	ul
		list-style none
		padding 5% 0 20% 20%
		li
			a
				color #fff
				&:hover
					color #fff
					text-decoration none
				&::visited
					color #fff

#closeNav
	position absolute
	top 5%
	right 5%
	font-size 1.5em