footer
	include ./newsletter.pug
	include ./widgets.pug
	include ./social.pug
	script(type='text/javascript' src="https://code.jquery.com/jquery-3.5.1.min.js")
	script(type='text/javascript' src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
	//- script(type='text/javascript' src="./lib/splide/js/splide.js")
	//- script(type='text/javascript' src="./lib/simple-scrollbar/simple-scrollbar.js")
	script(type='text/javascript' src="./lib/bootstrap/js/bootstrap.js")
	script(type='text/javascript' src="./js/app.js")