#newsletter
	.container-newletter
		.newsletter-text
			h3.title-primary.
				¿Quieres saber mas?
			.underline-short
			p.parragraph--newsletter.
				Suscríbete a nuestro newsletter y obtén actualizaciones sobre nuestras campañas.
		.newsletter-form
			form.form-australia(method="GET" action="#!")
				input.input-text(
					type='text'
					name='newsletter'
					placeholder='jhon@doe.com ...'
					)
				button.submit(type='submit')
					svg(width='16' height='13' viewbox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M13.7874 0.114838H1.74243C0.914343 0.114838 0.236816 0.792364 0.236816 1.62045V10.6541C0.236816 11.4822 0.914343 12.1598 1.74243 12.1598H13.7874C14.6154 12.1598 15.293 11.4822 15.293 10.6541V1.62045C15.293 0.792364 14.6154 0.114838 13.7874 0.114838ZM13.4862 3.31427L8.56287 6.39325C8.07354 6.7019 7.45624 6.7019 6.96692 6.39325L2.04355 3.31427C1.96807 3.27189 1.90197 3.21464 1.84925 3.14598C1.79653 3.07732 1.75829 2.99868 1.73684 2.91481C1.7154 2.83094 1.71119 2.74359 1.72448 2.65805C1.73777 2.57251 1.76828 2.49056 1.81416 2.41715C1.86004 2.34374 1.92034 2.2804 1.9914 2.23098C2.06247 2.18155 2.14283 2.14705 2.22761 2.12957C2.3124 2.1121 2.39985 2.11201 2.48467 2.12931C2.56949 2.14661 2.64991 2.18094 2.72108 2.23023L7.76489 5.38449L12.8087 2.23023C12.8799 2.18094 12.9603 2.14661 13.0451 2.12931C13.1299 2.11201 13.2174 2.1121 13.3022 2.12957C13.387 2.14705 13.4673 2.18155 13.5384 2.23098C13.6094 2.2804 13.6697 2.34374 13.7156 2.41715C13.7615 2.49056 13.792 2.57251 13.8053 2.65805C13.8186 2.74359 13.8144 2.83094 13.7929 2.91481C13.7715 2.99868 13.7333 3.07732 13.6805 3.14598C13.6278 3.21464 13.5617 3.27189 13.4862 3.31427V3.31427Z' fill='white')