#socialBar
	.container-socialBar
		.social-items
			.s-item
				a(href="#!")
					i.fab.fa-twitter-square
			.s-item
				a(href="#!")
					i.fab.fa-facebook-square
			.s-item
				a(href="#!")
					i.fab.fa-instagram-square