#widgets
	.container-widgets.font-montserrat
		.container
			.row
				.col-lg-6.col-md-6.col-xs-12.footer--widget
					.col-lg-4.col-md-4.col-xs-12
						p.bold.
							Inicio
						ul
							li
								a(href="#!").
									Nuestro	proyecto
							li
								a(href="#!").
									Camapaña actual	
							li
								a(href="#!").
									Últimas noticias
					.col-lg-4.col-md-4.col-xs-12
						p.bold.
							¿Quienes somos?
						ul
							li
								a(href="#!").
									Acerca de esta embajada
							li
								a(href="#!").
									Proyecto Bicentenario
							li
								a(href="#!").
									Cooperación Perú - Australia
					.col-lg-4.col-md-4.col-xs-12
						p.bold.
							Campañas
						ul
							li
								a(href="#!").
									Campaña actual
							li
								a(href="#!").
									Campañas anteriores
				.col-lg-3.col-md-3.col-xs-12.footer--brand
					.col-xs-12.brand--img
						img(src="./assets/logo-embassy.png")
				.col-lg-3.col-md-3.col-xs-12.footer--data
					.col-xs-12.footer-address
						p
							i.fas.fa-map-marker-alt.
							| Av. La Paz 1049, Piso 10 Miraflores, Lima 18, Perú
						p
							i.fas.fa-phone-alt
							| +51 1630 0500
							
						p
							i.fas.fa-envelope
							| limasocialmedia@dfat.gov.au