//- Week Title
.week--mobile
	.week-card--text
		h3.title-primary.tiitle-underline.
			Explorando una amistad bicentenaria
	.week-card--media.mb-10
		img.img-fluid.media-mobile.img-mobile(src="./assets/week-alpaca-1.jpg")
		//- img(src="#")
	//- Week Content
	.row.week-card-media
		.col-xs-6
			img.img-fluid.media-mobile(src="./assets/week-canguro-1.jpg")
		.col-xs-6
			p.text-color.
				Viverra maecenas turpis fermentum, non venenatis. Venenatis, lacinia nisl amet et eleifend dictum ac. Aliquet lectus quisque eget viverra tincidunt venenatis vitae risus maecenas.
			a.font-prompt.view-more(href="#!")
				strong.
					Continuar leyendo +