//- Week Title
.week--desktop
	.row
		.col-md-3.col-lg-3
			img.media-desktop(src="./assets/week-canguro-desktop-1.jpg")
		.col-md-3.col-lg-3
			img.media-desktop(src="./assets/week-alpaca-desktop-1.jpg")
		.col-md-6.col-lg-6
			h3.title-secondary.tiitle-underline.
				Escritorio Explorando una amistad bicentenaria
			p.text-color.
				Viverra maecenas turpis fermentum, non venenatis. Venenatis, lacinia nisl amet et eleifend dictum ac. Aliquet lectus quisque eget viverra tincidunt venenatis vitae risus maecenas. Turpis ac dui tristique tellus a et aliquet aliquet. Vulputate ultrices ipsum ut elementum. Amet consectetur feugiat amet non. Magna aliquet nec aliquam nunc non aliquam. Et, pellentesque sagittis at molestie venenatis. Etiam diam tellus, elementum cras urna semper eu ultrices. Amet velit et tortor est vitae.
			a.font-prompt.view-more(href="#!")
				strong.
					Continuar leyendo +