#news
	.container-news
		.news-text
			h4.subtitle.text-white.
				Últimas noticias
		.underline-short
		.news-post
			.post--news
				a(href="#!")
					img.img-news(src="./assets/news-1.jpg")
			.post--news.post--active
				a(href="#!")
					img.img-news(src="./assets/news-2.jpg")
			.post--news
				a(href="#!")
					img.img-news(src="./assets/news-3.jpg")
			.post--news
				a(href="#!")
					img.img-news(src="./assets/news-4.jpg")
		.news-button
			.row--btn
				a(href="#!").btn.btn-golden.
					Cargar más