#slider
	.item-slider
		#main-carousel.carousel.slide(data-ride="carousel")
			ol.carousel-indicators
				li.active(data-target="#main-carousel" data-slide-to="0")
				li(data-target="#main-carousel" data-slide-to="1")
				li(data-target="#main-carousel" data-slide-to="2")
			//- // /.carousel-indicators
			.carousel-inner
				.carousel-item.active
					//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
					.img-slider.img1
					.carousel-caption
						//- text-here
						.slider--container.text-white
							.slider--content
								.slider-text--topTitle
									p.font-prompt
										small.
											Australia Alumni Agent of Change Awards
								.slider-text--title
									h2._underline--title.font-prompt.bold.
										Danny Nugkuag1
									h2.font-prompt.bold.
										Agent of Change
								.slider-text--content
									p.font-montserrat.
										Cursus id augue nulla blandit ornare. Viverra vel ultricies rhoncus velit lectus. Ut nulla egestas nisl placerat.
				.carousel-item
					.img-slider.img2
					//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
					.carousel-caption
						//- text-here
						.slider--container.text-white
							.slider--content
								.slider-text--topTitle
									p.font-prompt
										small.
											Australia Alumni Agent of Change Awards
								.slider-text--title
									h2._underline--title.font-prompt.bold.
										Danny Nugkuag2
									h2.font-prompt.bold.
										Agent of Change
								.slider-text--content
									p.font-montserrat.
										Cursus id augue nulla blandit ornare. Viverra vel ultricies rhoncus velit lectus. Ut nulla egestas nisl placerat.
				.carousel-item
					.img-slider.img3
					//- img.d-block.img-fluid(src="./assets/bg-australia.jpg" alt="")
					.carousel-caption
						//- text-here
						.slider--container.text-white
							.slider--content
								.slider-text--topTitle
									p.font-prompt
										small.
											Australia Alumni Agent of Change Awards
								.slider-text--title
									h2._underline--title.font-prompt.bold.
										Danny Nugkuag3
									h2.font-prompt.bold.
										Agent of Change
								.slider-text--content
									p.font-montserrat.
										Cursus id augue nulla blandit ornare. Viverra vel ultricies rhoncus velit lectus. Ut nulla egestas nisl placerat.
			//- // /.carousel-inner
			a.carousel-control-prev(href="#main-carousel" data-slide="prev")
				span.carousel-control-prev-icon
				span.sr-only(aria-hidden="true") Prev
			a.carousel-control-next(href="#main-carousel" data-slide="next")
				span.carousel-control-next-icon
				span.sr-only(aria-hidden="true") Next
			//- .slider--container.text-white
			//- 	.slider--content
			//- 		.slider-text--topTitle
			//- 			p.font-prompt
			//- 				small.
			//- 					Australia Alumni Agent of Change Awards
			//- 		.slider-text--title
			//- 			h2._underline--title.font-prompt.bold.
			//- 				Danny Nugkuag
			//- 			h2.font-prompt.bold.
			//- 				Agent of Change
			//- 		.slider-text--content
			//- 			p.font-montserrat.
			//- 				Cursus id augue nulla blandit ornare. Viverra vel ultricies rhoncus velit lectus. Ut nulla egestas nisl placerat.