#week
	.week-header
		.week-header--text
			h5.week--subtitle.font-prompt.text-white.bold.
				Próximo lanzamiento
			h3.week--title.font-prompt.text-white.bold.
				Título de campaña
		.week-header-counter
			p.text-white.font-prompt.bold.countdown-text.
				02:13:45:35
	.container.week-content
		.week-content--feature.week-top
			.week-content--card
				.week-card--text
					p.font-prompt.text-color.bold.center
						small.
							NUESTRA ULTIMA CAMPAÑA
					.underline
					h3.title-primary.title-jumbo.uppercase.
						Semana de Australia
					p.week--text.text-color.mb-10.
						Un repaso por la evolución de los estrechos lazos que nos unen, desde tiempos inmemoriales hasta hoy, lorem ipsum dolor sit amet in quadum ad hominum colioris domun dormie iterino adapare dormie ameno lorem ad havoc serum icter lo  alum non losto.
				.week-card--media
					iframe(width='560' height='315' src='https://www.youtube.com/embed/GTRQsa3jpXU' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			.underline
			.week-content--card
				include _week-card-desktop.pug
				include _week-card-mobile.pug
	.week-cta
		.cta--text
			h3.title-primary.
				Descubre más sobre nuestros lazos
		.underline-short
		.cta--butons
			.row--btn
				a(href="#!").btn.btn-primary.
					Saber más sobre esta campaña
			.row--btn
				a(href="#!").btn.btn-secondary.
					Ver campañas anteriores