.cta--buttons
	text-align center

.row--btn
	text-align center
	margin-bottom 5%
	@media only screen and (min-width 768px)
		margin-bottom 2%
	
.btn
	@media only screen and (min-width 768px)
		font-size 24px
	&:hover
		text-decoration none
		color initial
		opacity 0.7
	&-primary
		background-color $primaryColor
		color $white
		position relative
		border-radius 25px
		padding 10px 20px
		display inline-block
		margin 0 auto
		height 40px
		line-height 20px
		@media only screen and (min-width 768px)
			padding 25px 35px
			line-height 0
	&-secondary
		background-color #fff
		color #c4c4c4
		border solid #c4c4c4 2px
		position relative
		border-radius 25px
		padding 10px 20px
		display inline-block
		margin 0 auto
		height 40px
		line-height 20px
		@media only screen and (min-width 768px)
			padding 25px 35px	
			line-height 0	
	&-golden
		background-color transparent
		color $golden-light
		border solid $golden-light 2px
		position relative
		border-radius 25px
		padding 10px 20px
		display inline-block
		margin 0 auto
		height 40px
		line-height 20px
		&:hover
			color $golden-light
			opacity 0.7
		@media only screen and (min-width 768px)
			padding 25px 35px
			line-height 0		

.btn-small
	font-size 18px !important
	padding 10px 30px !important
	line-height 15px !important
	@media only screen and (max-width 767px)
		height 30px !important
		font-size 14px !important
		line-height 7px !important