.font-prompt
	font-family 'Prompt', sans-serif
	
.font-montserrat
	font-family 'Montserrat', sans-serif
	
.title-primary
	font-family 'Prompt', sans-serif
	color $primaryColor
	text-align center
	margin 3%
	@media only screen and (min-width 768px)
		font-size 36px

.title-jumbo
	font-size 36px !important
	line-height 1
	@media only screen and (min-width 768px)
		font-size 48px !important
		line-height 1

.title-secondary
	font-family 'Prompt', sans-serif
	color $primaryColor
	text-align left
	font-size 36px
	line-height 1.2
	margin 0

.subtitle
	font-family 'Prompt', sans-serif
	font-size 12px
	@media only screen and (min-width 768px)
		font-size 36px
	
.text-align-left
	text-align left !important

.uppercase
	text-transform uppercase

.text-white
	color $white !important

.text-color
	color $primaryColor
	
.bold
	font-weight bold

.center
	text-align center

.countdown-text
	font-size 35px !important
	margin 15px !important
	letter-spacing: 5px